<!DOCTYPE html>
<html>
<head>
  <title>RainforestAmazon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>

	<a href="/">Back</a> | <a href="/products">All Products</a> | <a href="/products/new">Add Product</a>

</div>




<%= yield %>

</body>
</html>
